.contact-form {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  margin: 20px auto;
  max-width: 600px;
  text-align: center;
}

.contact-form h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
}

.contact-form input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.contact-form input[type="submit"]:hover {
  background-color: #3e8e41;
}



.submit-button {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}
